@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-titan: "Titan One", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

:root {
  --background: #f6e7d2;
  --foreground: #791216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #791216;
    --foreground: #f6e7d2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titan);
}
