@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-doto: "Doto", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply min-h-screen m-0 bg-white text-neutral-900 font-sans antialiased;
  }
}
